server/*.log
server/.DS_Store
server/.env
server/.env.backup
server/.env.production
server/.phpactor.json
server/.phpunit.result.cache
server/.codex
server/.cursor/
server/.idea
server/.nova
server/.phpunit.cache
server/.vscode
server/.zed
server/auth.json
server/node_modules
server/public/build
server/public/fonts-manifest.dev.json
server/public/hot
server/public/storage
server/storage/*.key
server/storage/pail
server/vendor
server_ide_helper.php
server/Homestead.json
server/Homestead.yaml
server/Thumbs.db
